@import url('reset.css');

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
  --color-primary: #2196F3;
  --color-secondary: #1566a8;
  --color-bg-hero: #2F303A; 
  --color-text-dark: #212121; 
  --color-text-light: #FFFFFF; 
  --color-text-muted: #757575; 
  --color-bg-footer: #2F303A;
  --color-bg-team: #F5F4FA;
  --color-link-footer: #FFFFFF99;
  --color-portfolio-back: #EEEEEE;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 32px 0;
    height: 100%;
    box-shadow: 0px 1px 2px  rgba(0,0,0,0.2);
}

.header-link {
    color: var(--color-text-dark);
    font-size: 14px;
    font-weight: 500;
}

.header-link.active {
    color: var(--color-primary);
}

.phone {
    color: var(--color-text-muted);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 145px;
    height: 31px;
}

.header-nav {
    display: flex;
    column-gap: 50px;
    margin-left: 95px;
}
.header-about {
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}

.header-link:hover {
    color: var(--color-primary);
    transition: color 0.3s;
}

/* HERO SECTION */

.hero {
    background-color: var(--color-bg-hero);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    min-height: 600px;
    align-items: center;
}

.hero-title {
    color: var(--color-text-light);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hero-btn {
    font-size: 16px;
    font-weight: 700;
    background-color: var(--color-primary);
    padding: 15px 46px;
    color: var(--color-text-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
}

.hero-btn:hover {
    background-color: var(--color-secondary);
}

/* FEATURES */
.features {
    padding: 94px 0;
}
.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.feature-card {
    flex: 1 1 22%;
    text-align: justify;
}
.feature-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.feature-subtitle {
    font-size: 14px;
    color: var(--color-text-muted);
    line-height: 24px;
    max-width: 252px;
    word-wrap: break-word;
}

/* WORK */
.works {
    padding-top: 0;
    padding-bottom: 94px;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.cards-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
}

/* TEAM */
.team {
    padding: 94px 0;
    background-color: var(--color-bg-team);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-card {
    flex: 1 1 22%;
    text-align: center;
    background-color: var(--color-text-light);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 4px 10px  rgba(0,0,0,0.2);
}
.team-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.team-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.team-role {
    font-size: 16px;
    color: var(--color-text-muted);
}

.team-block {
    padding: 30px;
}

/* FOTTER */
.footer {
    height: 100%;
    padding: 60px 0;
    background-color: var(--color-bg-footer);
}
.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}
.footer-address {
    font-size: 14px;
    color: var(--color-text-light);
}
.footer-location {
    margin-bottom: 10px;
}

.footer-contacts li {
    margin-bottom: 10px;
}

.footer-link {
    color: var(--color-link-footer);
}

/* MAIN PORTFOLIO*/

.portfolio {
}

.portfolio-filters {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 100px;
}

.portfolio-filters .filter {
    padding: 6px 26px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    color: var(--color-text-dark);
    transition: all 0.3s;
    background-color: var(--color-bg-team);
    text-align: center;
}

.filter {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 26px;
}

.portfolio-filters .filter:hover {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.portfolio-filters .filter.active {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 95px;
}

.portfolio-item {
    background-color: var(--color-text-light);
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0px 1px 3px  rgba(0,0,0,0.2);
    width: 370px;
}

.portfolio-header {
    display: none;
}

.portfolio-text {
    padding: 24px;
}
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1px;
    color: var(--color-text-dark);
}
.project-category {
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--color-text-muted);
}