@import url('reset.css');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 32px 0;
}

.header-link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}

.header-active {
    color: #2196F3;
}

.header-phone {
    color: #757575;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 145px;
    height: 31px;
}

.header-nav {
    display: flex;
    column-gap: 50px;
    margin-left: 95px;
}
.header-about {
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}

/* HERO SECTION */

.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hero-btn {
    font-size: 16px;
    font-weight: 700;
    background-color: #2196F3;
    padding: 15px 46px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
}

.hero-btn:hover {
    background-color: #1566a8;
}

/* FEATURES */
.features {
    padding: 94px 0;
}
.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.feature-card {
    flex: 1 1 calc(25% - 22.5px);
}
.feature-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.feature-subtitle {
    font-size: 14px;
    color: #757575;
    line-height: 24px;
    max-width: 252px;
    word-wrap: break-word;
}

/* WORK */
.works {
    padding-top: 0;
    padding-bottom: 94px;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.cards-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card img{
    width: 100%;
    height: auto;
    display: block;
}

/* TEAM */
.team {
    padding: 94px 0;
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-card {
    flex: 1 1 calc(25% - 22.5px);
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 10px  rgba(0,0,0,0.2);
}
.team-card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
    border-radius: 4px;
}

.team-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.team-role {
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

/* FOTTER */
.footer {
    padding: 60px 0;
    background-color: #2F303A;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}
.footer-address {
    font-size: 14px;
    color: #FFFFFF;
}
.footer-location {
    margin-bottom: 10px;
}

.footer-contacts li {
    margin-bottom: 10px;
}

.footer-link {
    color: #FFFFFF99;
}